[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"

[deploy]
numReplicas = 1
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
startCommand = "php artisan serve --host=0.0.0.0 --port=$PORT"