@import "tailwindcss";
@import "flowbite/src/themes/default";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@source "./public/*.{html,js}";
@plugin "daisyui";
@font-face {
    font-family: "AfterNight";
    src: url("/fonts/AfterNight.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@layer base {
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
}
